/* coloring system */
$Light-green: #7ed56f;
$Medium-green: #55c57a;
$Dark-green: #28b485;
// --------------------------- //
$white-color: #fff;
$dark-gray: #333;
$light-gray: #888;
$shadow-color: #3333335c;

/*
    COLORS:
    
    Light-green: #7ed56f

    Medium-green: #55c57a

    Dark-green: #28b485
    
    */
