/*initial variables*/
/* coloring system */

$Light-green: #7ed56f;
$Medium-green: #55c57a;
$Dark-green: #28b485;
// --------------------------- //
$white-color: #fff;
$dark-gray: #333;
$light-gray: #888;
$shadow-color: #3333335c;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-weight: 400;
  padding: 30px;
  font-family: "Lato", sans-serif;
}

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: linear-gradient(to right, #7ed56fbc, #28b485bc),
    url(../img/hero.jpg);
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 95%);
}
.main-logo {
  position: absolute;
  top: 40px;
  left: 40px;
  height: 35px;
}
.heading-container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $white-color;
  backface-visibility: hidden;
  text-align: center;
}
.main-heading {
  display: block;
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 35px;
  font-weight: 400;
  line-height: 1.6;
  animation: MoveToRight 1.5s ease-in-out;
}
.secondry-heading {
  font-size: 20px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 17.9px;
  animation: MoveToLeft 1.5s ease-in-out;
  margin-bottom: 50px;
}
.btn {
  display: inline-block;
  /* position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, 100%); */
  background-color: $white-color;
  border-radius: 50px;
  color: $dark-gray;
  padding: 20px 40px;
  text-transform: uppercase;
  font-size: 16px;
  color: $light-gray;
  text-decoration: none;
  transition: transform 0.5s;
  animation: MoveUp 1s;
  animation-delay: 0.75s;
  position: relative;
  animation-fill-mode: backwards;
}
.btn:hover {
  /* margin-top: -5px; */
  transform: translatey(-3px);
  box-shadow: 0 5px 27px -3px $shadow-color;
}
.btn:active {
  /* margin-top: -5px; */
  transform: translatey(-1px);
  box-shadow: 0 1px 10px -3px $shadow-color;
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $white-color;
  border-radius: 50px;
  z-index: -1;
  transition: 0.5s;
}
.btn:hover::after {
  transform: scale(1.5, 1.5);
  opacity: 0;
}
/* headding animation */
@keyframes MoveToRight {
  0% {
    opacity: 0;
    transform: translate(-70px);
  }
  80% {
    transform: translate(10px);
    opacity: 100%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes MoveToLeft {
  0% {
    opacity: 0;
    transform: translate(70px);
  }
  80% {
    transform: translate(-10px);
    opacity: 100%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes MoveUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 100%;
  }
}
/*
    COLORS:
    
    Light green: #7ed56f
    Medium green: #55c57a
    Dark green: #28b485
    
    */
